<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>    
    <add key="server_url" value="http://localhost:9000" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="default" connectionString="Data Source=localhost;Initial Catalog=finance;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
